python-dotenv==1.0.1
python-crontab==3.2.0
google-cloud-compute==1.30.0
httpx==0.28.1
google-api-python-client==2.145.0
setuptools==84.0.0
requests==2.32.3
protobuf==6.33.5
google-cloud-storage==3.1.0
graypy==2.1.0
openstacksdk==4.7.1
pydantic==2.12.5
